<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”> <head>
<title>Select from below</title>
<link rel="stylesheet" th:href="@{/css/materialize.min.css}">
<link rel="stylesheet" th:href=" @{/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/css/start/start_view.css}">
<script th:src="@{/js/materialize.min.js}"></script>
</head>

<body>
    <div class="navigation">
        <a class="waves-effect waves-light btn-small left white-text purple darken-4" th:href="@{/start}">Back</a>
    </div>
    <div class="container animate__animated animate__fadeIn valign-wrapper vh-expand">
        <div class="row">
            <div class="col" th:if=${entities.empty}>
                <h1 class="center-align purple-text text-darken-4">This section is empty</h1>
            </div>
            <div class="col" th:each="entity: ${entities}">
                <div class="card-panel select-selection valign-wrapper">
                    <a th:href="@{/dashboard(role='admin',id= ${entity.id})}">
                        <div class="row m-auto">
                            <div class="col s12">
                                <p th:text="${entity.firstName + ' ' + entity.lastName}"
                                    class="center-align select-text flow-text"></p>
                            </div>
                            <div class="col s12">
                                <p class="center-align select-text flow-text" th:text="${entity.username}"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>