<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”> <head>
<title>Start Page</title>
<th:block th:insert="fragments :: common_head"></th:block>
<link rel="stylesheet" th:href="@{/css/start/start_view.css}">
</head>

<body>
    <div class="navigation">
        <a class="waves-effect waves-light btn-small left white-text purple darken-4" th:href="@{/}">Main Page</a>
    </div>
    <div class="container vh-expand animate__animated animate__fadeIn valign-wrapper">
        <div class="row" id="main-row">
            <div class="col s12 m6">
                <a th:href="@{/start/administrator}">
                    <div class="card-panel selection valign-wrapper">
                        <h2 class="flex center-align select-text">Administrator</h2>
                    </div>
                </a>
            </div>
            <div class="col s12 m6">
                <a th:href="@{/start/representative}">
                    <div class="card-panel selection valign-wrapper">
                        <h2 class="center-align flex select-text">Sales Representative</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>