<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”> <head>
<title>Added Customer</title>
<th:block th:insert="fragments :: common_head"></th:block>
<link rel="stylesheet" th:href="@{/css/representative/common_style.css}">
</head>

<body>
    <div class="container animate__animated animate__fadeIn valign-wrapper">
        <div class="row">
            <div class="col s12">
                <div class="card purple darken-4">
                    <div class="card-content white-text">
                        <th:block th:if="${isError}">
                            <span class="card-title" th:text="${errorMessage}">Error</span>
                        </th:block>
                        <th:block th:unless="${isError}">
                            <span class="card-title">New customer was added!</span>
                            <p>Customer <span th:text="${fullName}"></span> was added successfully!</p>
                        </th:block>
                    </div>
                    <div class="card-action">
                        <!-- <a class="white-text" th:href="@{/dashboard/new/customer(requesterId= ${requesterId})}">Back</a> -->
                        <a class="white-text"
                            th:href="@{/dashboard(role= ${'salesRep'}, id= ${requesterId})}">Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>