<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”> <head>
<title>Promotions</title>
<th:block th:insert="fragments :: common_head"></th:block>
<style>
    .navigation {
        position: absolute;
        padding: 1rem;
    }

    .mt-10 {
        margin-top: 10rem;
    }

    .valign-wrapper {
        min-height: 100vh;
        height: 100vh;
    }

    td {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    table {
        margin: 4rem auto;
    }
</style>
</head>

<body>
    <div class="navigation">
        <a class="waves-effect waves-light btn-small left white-text purple darken-4"
            th:href="@{/dashboard(role= ${'salesRep'}, id= ${requesterId})}">Back</a>
    </div>
    <div class="container valign-wrapper animate__animated animate__fadeIn">
        <div class="row">
            <div th:if=${promoInfo.empty} class="col s12">
                <h2 class="center-align purple-text text-darken-4">No active promotions</h2>
            </div>
            <div th:unless=${promoInfo.empty} class="col s12">
                <table class="highlight z-depth-3">
                    <thead class="purple darken-4 white-text gray-text text-lighten-2">
                        <tr>
                            <td>From</td>
                            <td>To</td>
                            <td>Product Name</td>
                            <td>Price</td>
                            <td>Promo Price</td>
                            <td>Quantity</td>
                            <td>Status</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="info: ${promoInfo}">
                            <td th:text="${#calendars.format(info.promoEvent.startDate, 'dd/MMM/yyyy')}"></td>
                            <td th:text="${#calendars.format(info.promoEvent.endDate, 'dd/MMM/yyyy')}"></td>
                            <td th:text="${info.promoProduct.productName}"></td>
                            <td th:text="${info.promoProduct.price}"></td>
                            <td th:text="${info.promoEvent.promoPrice}"></td>
                            <td th:text="${info.promoProduct.quantity}"></td>
                            <td>
                                <button th:if="${info.status == 'Upcoming'}"
                                    class="btn-flat white-text blue darken-4">Upcoming</button>
                                <button th:if="${info.status == 'Expired'}"
                                    class="btn-flat white-text red darken-4">Expired</button>
                                <button th:if="${info.status == 'Active'}"
                                    class="btn-flat white-text green darken-4">Active</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:unless="${nonPromoProducts.empty}" class="col s12">
                <table class="highlight z-depth-3">
                    <thead class="purple darken-4 white-text gray-text text-lighten-2">
                        <tr>
                            <td>Product Name</td>
                            <td>Category</td>
                            <td>Price</td>
                            <td>Quantity</td>
                            <td>Create promotion</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="product: ${nonPromoProducts}">
                            <td th:text="${product.productName}"></td>
                            <td th:text="${product.category}"></td>
                            <td th:text="${product.price}"></td>
                            <td th:text="${product.quantity}"></td>
                            <td>
                                <a th:href="@{/dashboard/new/promotion(requesterId = ${requesterId}, targetId = ${product.id})}"
                                    class="waves-effect waves-light btn-small btn-flat pink darken-3
                                    white-text">Create</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>