<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”> <head>
<title>Sales</title>
<th:block th:insert="fragments :: common_head"></th:block>
<style>
    .navigation {
        position: absolute;
        padding: 1rem;
    }

    .mt-10 {
        margin-top: 10rem;
    }

    .valign-wrapper {
        min-height: 100vh;
        height: 100vh;
    }

    td {
        padding-left: 2rem;
        padding-right: 2rem;
    }
</style>
</head>

<body>
    <div class="navigation">
        <a class="waves-effect waves-light btn-small left white-text purple darken-4"
            th:href="@{/dashboard(role= ${'salesRep'}, id= ${requesterId})}">Back</a>
    </div>
    <div class="animate__animated animate__fadeIn valign-wrapper">
        <div class="row">
            <div th:if=${sales.empty} class="col s12">
                <h2 class="center-align purple-text text-darken-4">No sales</h2>
            </div>
            <div th:unless=${sales.empty} class="col s12">
                <table class="highlight z-depth-3">
                    <thead class="purple darken-4 white-text gray-text text-lighten-2">
                        <tr>
                            <td>Date</td>
                            <td>Customer</td>
                            <td>Phone Number</td>
                            <td>Product Name</td>
                            <td>Category</td>
                            <td>Price</td>
                            <td>Quantity</td>
                            <td>Total Price</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="sale: ${sales}">
                            <td th:text="${#calendars.format(sale.madeAt, 'dd/MM/yyyy HH:mm')}"></td>
                            <td th:text="${sale.customerInfo.fullName}"></td>
                            <td th:text="${sale.customerInfo.phoneNumber}"></td>
                            <td th:text="${sale.productInfo.productName}"></td>
                            <td th:text="${sale.productInfo.category}"></td>
                            <td th:text="${sale.price}"></td>
                            <td th:text="${sale.quantity}"></td>
                            <td th:text="${sale.totalPrice}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>