<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”> <head>
<title>Add Representative</title>
<th:block th:insert="fragments :: common_head"></th:block>
<link rel="stylesheet" th:href="@{/css/administrator/entity_form.css}">
</head>

<body>
    <div class="navigation">
        <a class="waves-effect waves-light btn-small left white-text purple darken-4"
            th:href="@{/dashboard(role= 'admin',id= ${requesterId})}">Back</a>
    </div>
    <div class="container animate__animated animate__fadeIn vh-expand valign-wrapper">
        <div class="row purple darken-4 plumed">
            <form th:action="@{/dashboard/new/representative}" th:method="post" th:object="${representative}"
                class="col s12">
                <div class="row shrunked">
                    <p class="center-align flow-text white-text">New Representative</p>
                </div>
                <div class="row" hidden="true">
                    <div class="input-field col s12">
                        <input class="white-text" required=true type="text" th:value=${requesterId}
                            th:name="managedById">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label class="white-text" for="firstName">First name</label>
                        <input class="white-text" required=true minlength="2" maxlength="15" type="text" id="firstName"
                            th:name="firstName">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label class="white-text" for="lastName">Last name</label>
                        <input class="white-text" required=true minlength="2" maxlength="15" type="text" id="lastName"
                            th:name="lastName">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label class="white-text" for="username">Username</label>
                        <input class="white-text" required=true minlength="2" maxlength="30" type="text" id="username"
                            th:name="username">
                    </div>
                </div>

                <button type="submit" class="blue darken-2 right btn waves-effect waves-light"> Add </button>
            </form>
        </div>
    </div>
</body>

</html>