<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”> <head>
<title>Add Admin</title>
<th:block th:insert="fragments :: common_head"></th:block>
<link rel="stylesheet" th:href="@{/css/administrator/common_style.css}">
</head>

<body>
    <div class="container animate__animated animate__fadeIn valign-wrapper">
        <div class="row">
            <div class="col s12">
                <div class="card purple darken-4">
                    <div class="card-content white-text">
                        <th:block th:if="${isError}">
                            <span class="card-title" th:text="${errorMessage}">Error</span>
                        </th:block>
                        <th:block th:unless="${isError}">
                            <span class="card-title" th:text="|${'New '} ${entityName} ${' was added!'}|"></span>
                            <p>The <span th:text="${entityName}"></span> with username <span
                                    th:text="${username}"></span> was added successfully!</p>
                        </th:block>
                    </div>
                    <div class="card-action">
                        <a class="white-text"
                            th:href="@{/dashboard(role= ${'admin'}, id= ${requesterId})}">Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>