<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”> <head>
<title>Invalid Request</title>
<th:block th:insert="fragments :: common_head"></th:block>
<link rel="stylesheet" th:href="@{/css/administrator/common_style.css}">
</head>

<body>
    <div class="container valign-wrapper">
        <div class="row">
            <div class="col s12">
                <div class="card purple darken-4">
                    <div class="card-content white-text">
                        <span class="card-title">Invalid Request</span>
                        <p th:text="${errorMessage}">Unauthorized access was detected.</p>
                    </div>
                    <div class="card-action">
                        <a class="white-text" th:href="@{/start}">Go back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>