<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”> <head>
<title>Dashboard</title>
<th:block th:insert="fragments :: common_head"></th:block>
<link rel="stylesheet" th:href="@{/css/dashboard/main_view.css}">
</head>

<body>
    <div class="navigation">
        <a class="waves-effect waves-light btn-small left white-text purple darken-4" th:href="@{/start}">Back</a>
    </div>
    <div class="container animate__animated animate__fadeIn">
        <th:block th:insert="fragments :: entity_info"></th:block>

        <th:block th:if="${rolePath == 'administrator'}" <th:block th:insert="fragments :: block_salesReps"></th:block>
        </th:block>

        <th:block th:if="${rolePath == 'administrator'}" <th:block th:insert="fragments :: block_manageProducts">
        </th:block>
        </th:block>
    </div>
</body>

</html>