body {
    background: #000046;
    background: -webkit-linear-gradient(to bottom, #3f94bb, #c4e0e5);
    background: linear-gradient(to bottom, #4ca1af, #c4e0e5);
}

.container {
    min-height: 100vh;
    height: 100%;
}

.card-panel {
    padding: 0 4rem !important;
}

h1 {
    font-size: 2.5rem;
}

hr {
    border: 1px solid white;
}

.m5-tb {
    margin: 5px auto;
}