body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1 {
    margin-bottom: 0;
}

h6 {
    padding-left: 0.3rem;
}

.bold {
    font-weight: bold !important;
}

.mt-5 {
    margin-top: 5rem;
}