<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”> <head>
<title>Request Error</title>
<th:block th:insert="fragments :: common_head"></th:block>
<link rel="stylesheet" th:href="@{/css/representative/common_style.css}">
</head>

<body>
    <div class="container animate__animated animate__fadeIn valign-wrapper">
        <div class="row">
            <div class="col s12">
                <div class="card purple darken-4">
                    <div class="card-content white-text">
                        <span class="card-title center-align">Request is missing some parameters</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>