<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”> <head th:fragment="common_head">
<link rel="stylesheet" th:href="@{/css/materialize.min.css}">
<link rel="stylesheet" th:href=" @{/css/animate.min.css}">
<script th:src="@{/js/materialize.min.js}"></script>
</head>

<div class="row" th:fragment="entity_info">
    <div class="col s12 mt-10">
        <h4 th:text="|${entity.fullName} (${entity.username})|"></h4>
        <p th:text="${entity.id}"></p>
        <a th:href="@{/start/} + ${rolePath}" class="btn-small waves-effect waves-light pink darken-4">Switch</a>
        <a class="btn-small waves-effect waves-light amber darken-4">Add New</a>
    </div>
</div>

<div class="row" th:fragment="block_salesReps">
    <div class="col s12">
        <h5>Sales Representatives</h5>
        <a class="btn-small waves-effect waves-light indigo darken-4">Manage</a>
        <a class="btn-small waves-effect waves-light deep-purple accent-3">Add New</a>
    </div>
</div>

<div class="row" th:fragment="block_manageProducts">
    <div class="col s12">
        <h5>Products</h5>
        <a class="btn-small waves-effect waves-light pink darken-2 ">Manage</a>
        <a class="btn-small waves-effect waves-light  deep-orange">Add New</a>
    </div>
</div>


</html>