<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”> <head>
<title>Home Page</title>
<link rel="stylesheet" href="css/materialize.min.css">
<link rel="stylesheet" href="css/index.css">
<script src="js/materialize.min.js"></script>
</head>

<body>
    <div class="container valign-wrapper">
        <div class="row">
            <div class="col s12">
                <div class="card-panel deep-purple darken-4 white-text">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="col s12">
                                    <h1 class="center-align ">Login</h1>
                                    <hr>
                                </div>
                            </div>
                            <div class="row m5-tb">
                                <p class="m5-tb">
                                    <label>
                                        <input name="group1" type="radio" checked />
                                        <span class="white-text">Admin</span>
                                    </label>
                                </p>
                                <p class="m5-tb">
                                    <label>
                                        <input name="group1" type="radio" />
                                        <span class="white-text">Seles Representetive</span>
                                    </label>
                                </p>
                            </div>
                            <div class="row m5-tb">
                                <div class="input-field col s12">
                                    <input id="input_text" class="white-text" type="text" data-length="30">
                                    <label for="input_text" class="white-text">Username</label>
                                </div>
                            </div>
                            <div class="row m5-tb">
                                <div class="input-field col s12">
                                    <input id="input_text" class="white-text" type="password" data-length="30">
                                    <label for="input_text" class="white-text">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="right waves-effect waves-light btn">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>